.label
  font-size: 100%
  margin-bottom: 1rem

.input
  border: 2px solid lighten(black, 15%)
  border-radius: 5px
  padding: 8px
  transition: border-color 0.5s ease-in

.input-success
  border-color: var(--pendeza-success)

.input-warning
  border-color: var(--pendeza-warning)

.input-danger
  border-color: var(--pendeza-danger)

.input.active
  border-color: var(--pendeza-primary)

.input.disabled
  border-color: var(--pendeza-muted)
  cursor: not-allowed

.message-success, .message-error, .message-warning
  position: absolute
  display: none
  visibility: hidden

.message-success
  color: var(--pendeza-success)

.message-error
  color: var(--pendeza-danger-lighten-2)

.message-warning
  color: var(--pendeza-warning)

.message-success.message-show,
.message-error.message-show,
.message-warning.message-show
  display: block
  visibility: visible
