.row
  overflow: hidden
  max-width: 1024px
  min-width: 768px
  margin: 0 auto
  display: flex

.row:after
  content: ""
  display: table
  clear: both

.row .row
  max-width: 100%
  min-width: 100%

.col,
.col\@phone
  float: left
  padding-left: 10px
  padding-right: 10px

.col\:1,
.col\:1\@phone
  width: 8.33333%

.col\:2,
.col\:2\@phone
  width: 16.66667%

.col\:3,
.col\:3\@phone
  width: 25%

.col\:4,
.col\:4\@phone
  width: 33.33333%

.col\:5,
.col\:5\@phone
  width: 41.66667%

.col\:6,
.col\:6\@phone
  width: 50%

.col\:7,
.col\:7\@phone
  width: 58.33333%

.col\:8,
.col\:8\@phone
  width: 66.66667%

.col\:9,
.col\:9\@phone
  width: 75%

.col\:10,
.col\:10\@phone
  width: 83.33333%

.col\:11,
.col\:11\@phone
  width: 91.66667%

.col\:12,
.col\:12\@phone
  width: 100%

@media (max-width: var(--pendeza-small-phone-max-width))
  .col\@small-phone
    float: left
    padding-left: 10px
    padding-right: 10px

  .col\:1\@small-phone
    width: 8.33333%

  .col\:2\@small-phone
    width: 16.66667%

  .col\:3\@small-phone
    width: 25%

  .col\:4\@small-phone
    width: 33.33333%

  .col\:5\@small-phone
    width: 41.66667%

  .col\:6\@small-phone
    width: 50%

  .col\:7\@small-phone
    width: 58.33333%

  .col\:8\@small-phone
    width: 66.66667%

  .col\:9\@small-phone
    width: 75%

  .col\:10\@small-phone
    width: 83.33333%

  .col\:11\@small-phone
    width: 91.66667%

  .col\:12\@small-phone
    width: 100%

@media (min-width: var(--pendeza-tablet-min-width)) and (max-width: var(--pendeza-tablet-max-width))
  .col\@tablet
    float: left
    padding-left: 10px
    padding-right: 10px

  .col\:1\@tablet
    width: 8.33333%

  .col\:2\@tablet
    width: 16.66667%

  .col\:3\@tablet
    width: 25%

  .col\:4\@tablet
    width: 33.33333%

  .col\:5\@tablet
    width: 41.66667%

  .col\:6\@tablet
    width: 50%

  .col\:7\@tablet
    width: 58.33333%

  .col\:8\@tablet
    width: 66.66667%

  .col\:9\@tablet
    width: 75%

  .col\:10\@tablet
    width: 83.33333%

  .col\:11\@tablet
    width: 91.66667%

  .col\:12\@tablet
    width: 100%

@media (min-width: var(--pendeza-laptop-min-width))
  .col\@laptop
    float: left
    padding-left: 10px
    padding-right: 10px

  .col\:1\@laptop
    width: 8.33333%

  .col\:2\@laptop
    width: 16.66667%

  .col\:3\@laptop
    width: 25%

  .col\:4\@laptop
    width: 33.33333%

  .col\:5\@laptop
    width: 41.66667%

  .col\:6\@laptop
    width: 50%

  .col\:7\@laptop
    width: 58.33333%

  .col\:8\@laptop
    width: 66.66667%

  .col\:9\@laptop
    width: 75%

  .col\:10\@laptop
    width: 83.33333%

  .col\:11\@laptop
    width: 91.66667%

  .col\:12\@laptop
    width: 100%

