.box-shadow
  box-shadow: $pendeza-shadow
  transition: box-shadow 1000ms linear

.box-shadow\:extrasmallX2
  box-shadow: $pendeza-shadow-extrasmallX2
  transition: box-shadow 1000ms linear

.box-shadow\:extrasmall
  box-shadow: $pendeza-shadow-extrasmall
  transition: box-shadow 1000ms linear

.box-shadow\:small
  box-shadow: $pendeza-shadow-small
  transition: box-shadow 1000ms linear

.box-shadow\:medium
  box-shadow: $pendeza-shadow-medium
  transition: box-shadow 1000ms linear

.box-shadow\:large
  box-shadow: $pendeza-shadow-medium
  transition: box-shadow 1000ms linear

.box-shadow\:extralarge
  box-shadow: $pendeza-shadow-extralarge
  transition: box-shadow 1000ms linear

.box-shadow\:extralargeX2
  box-shadow: $pendeza-shadow-extralargeX2
  transition: box-shadow 1000ms linear

.box-shadow\:none
  box-shadow: none !important
  transition: box-shadow 1000ms linear

.box-shadow\:hover:hover
  box-shadow: $pendeza-shadow
  transition: box-shadow 1000ms linear

.box-shadow\:extrasmallX2:hover
  box-shadow: $pendeza-shadow-extrasmallX2
  transition: box-shadow 1000ms linear

.box-shadow\:extrasmall:hover
  box-shadow: $pendeza-shadow-extrasmall
  transition: box-shadow 1000ms linear

.box-shadow\:small\:hover:hover
  box-shadow: $pendeza-shadow-small
  transition: box-shadow 1000ms linear

.box-shadow\:medium\:hover:hover
  box-shadow: $pendeza-shadow-medium
  transition: box-shadow 1000ms linear

.box-shadow\:large\:hover:hover
  box-shadow: $pendeza-shadow-large
  transition: box-shadow 1000ms linear

.box-shadow\:extralarge:hover
  box-shadow: $pendeza-shadow-extralarge
  transition: box-shadow 1000ms linear

.box-shadow\:extralargeX2:hover
  box-shadow: $pendeza-shadow-extralargeX2
  transition: box-shadow 1000ms linear

.box-shadow\:none\:hover:hover
  box-shadow: none !important
  transition: box-shadow 1000ms linear

.box-shadow\:focus:focus
  box-shadow: $pendeza-shadow
  transition: box-shadow 1000ms linear

.box-shadow\:extrasmallX2:focus
  box-shadow: $pendeza-shadow-extrasmallX2
  transition: box-shadow 1000ms linear

.box-shadow\:extrasmall:focus
  box-shadow: $pendeza-shadow-extrasmall
  transition: box-shadow 1000ms linear

.box-shadow\:small\:focus:focus
  box-shadow: $pendeza-shadow-small
  transition: box-shadow 1000ms linear

.box-shadow\:medium\:focus:focus
  box-shadow: $pendeza-shadow-medium
  transition: box-shadow 1000ms linear

.box-shadow\:large\:focus:focus
  box-shadow: $pendeza-shadow-large
  transition: box-shadow 1000ms linear

.box-shadow\:extralarge:focus
  box-shadow: $pendeza-shadow-extralarge
  transition: box-shadow 1000ms linear

.box-shadow\:extralargeX2:focus
  box-shadow: $pendeza-shadow-extralargeX2
  transition: box-shadow 1000ms linear

.box-shadow\:none\:focus:focus
  box-shadow: none !important
  transition: box-shadow 1000ms linear
